{% for item in underlay[inventory_hostname]['interfaces'] %}
interface {{ item }}
  ip address {{ underlay[inventory_hostname]['interfaces']['Ethernet3']['ipv4'] }}/{{ underlay[inventory_hostname]['interfaces']['Ethernet3']['mask']}}
{% if 'Ethernet' in item %}
  no switchport
{% endif %}
{% endfor %}