{% for item in underlay[inventory_hostname]['interfaces'] %}
interface {{ item }}
{% if 'Ethernet' in item %}
  no switchport
  mtu 9214
{% endif %}
  ip address {{ underlay[inventory_hostname]['interfaces'][item]['ipv4'] }}/{{ underlay[inventory_hostname]['interfaces'][item]['mask']}}
{% endfor %}

service routing protocols model multi-agent

ip prefix-list PL-LOOPBACK
  seq 10 permit 192.168.101.0/24 eq 32
  seq 20 permit 192.168.102.0/24 eq 32
  seq 30 permit 192.168.201.0/24 eq 32
  seq 40 permit 192.168.202.0/24 eq 32

route-map RM-LOOPBACK permit 10
  match ip address prefix-list PL-LOOPBACK
  
router bgp {{ underlay[inventory_hostname]['ASN'] }}
  router-id {{ underlay[inventory_hostname]['interfaces']['loopback0']['ipv4'] }}
  no bgp default ipv4 unicast
  maximum-paths 3
  distance bgp 20 200 200
  neighbor SPINE_Underlay peer group
  neighbor SPINE_Underlay remote-as {{ underlay[inventory_hostname]['SpineASN'] }}
  neighbor SPINE_Underlay maximum-routes 12000
{% for peer in underlay[inventory_hostname]['spine-peers'] %}
  neighbor {{ underlay[inventory_hostname]['spine-peers'][peer]['ipv4'] }} peer group SPINE_Underlay
{% endfor %}
  neighbor LEAF_Peer peer group
  neighbor LEAF_Peer remote-as {{ underlay[inventory_hostname]['ASN'] }}
  neighbor LEAF_Peer next-hop-self
  neighbor LEAF_Peer send-community
  neighbor LEAF_Peer maximum-routes 12000
  neighbor {{ underlay[inventory_hostname]['leaf-peers'][0] }} peer group LEAF_Peer
  redistribute connected route-map RM-LOOPBACK

  address-family ipv4
    neighbor SPINE_Underlay activate
    neighbor LEAF_Peer activate